<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355725550012-lj5k5ujkoldlm124hbp9gds6tt5dhmot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355725550012-lj5k5ujkoldlm124hbp9gds6tt5dhmot</string>
	<key>API_KEY</key>
	<string>AIzaSyAESy592_vBd2NntM4xwVQ6YGzqQj9gyRM</string>
	<key>GCM_SENDER_ID</key>
	<string>355725550012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp2</string>
	<key>PROJECT_ID</key>
	<string>blogapp-5472b</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-5472b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355725550012:ios:f1b0fccdd2863520df8bb9</string>
</dict>
</plist>